@import "./varia.scss";

.sobre-web-desing{
    align-items: center;
    justify-content: space-between;
    article{
        width: 250px;
        h1{
            font-size: $font-h1;
            line-height: 90%;
            font-weight: 400;
            color: $color-secundaria;
        }
        h2, p{
            color: $color-primaria;
        }
        h2{
            font-size: $font-h2;
            text-transform: uppercase;
            letter-spacing: 3px;
            line-height: 300%;
        }
        p{
            margin: 10px 0 40px 0;  
        }
    }
    figcaption{
        img{
            width: 700px;
        }
    }
}